style.
    .header {
        background-color: darkgray;
    }
    .links {
        display: flex;
        flex-wrap: wrap;
    }
div.header
    p Minecraft hardcore
    p hola
    div.links
        p link1
        p link2
        p link3
        p link4
