style.
    .card {
        display: flex;
        flex-wrap: wrap;
        background-color: darkcyan;
    }
div.card
    div.image
        p image
    div.info
        p info1
        p info2
        p info3
        p info4