style.
    .tables {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .victims {
        background-color: darkred;
    }
    .advancements {
        background-color: darkorange;
    }
div.tables
    div.victims
        p victims
    div.advancements
        p advancements